@page "/app"
@using MongoDB.Bson
@using MongoDB.Driver
@using Watchtower.Data

<PageTitle>Watchtower</PageTitle>

<h1>Watchtower</h1>

@if (hostcount == null) {
    <p>Loading...</p>
} else {
    <table>
    @foreach (var host in Realm.Hosts)
    {
        <HostComponent host=@host client=@Realm.Client />
    }
    </table>
}

@code {
    private WatchtowerRealm Realm;
    public int? hostcount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var currentdir = Directory.GetCurrentDirectory();
        var credentials = System.IO.File.ReadAllText($"{currentdir}/mongodb.txt");

        Realm = new WatchtowerRealm(credentials, "Main");
        Realm.Update();
        hostcount = Realm.Hosts.Count();
    }
}
