@namespace Watchtower
@using Watchtower.Data
@using MongoDB.Driver

@if (loaded) {
    <tr>
        <td>
            <button class="btn">
                <i class="bi-caret-down-fill" />
            </button>
        </td>
        <td>@host.hostname</td>
        <td colspan=5>
            <span>@Resources.Count @(Resources.Count == 1 ? "resource" : "resources")</span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>Side</td>
        <td>Status</td>
        <td>Forventa</td>
        <td>Svartid</td>
        <td>Forventa</td>
        <td>URL</td>
    </tr>
    @foreach (var resource in Resources)
    {
        <ResourceComponent client=@client resource=@resource />
    }
}

@code {
    [ParameterAttribute]
    public WatchtowerHost? host { get; set; }
    [ParameterAttribute]
    public IMongoClient? client { get; set; }
    public List<WatchtowerResource> Resources { get; set; }
    public bool loaded { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Resources = host.Resources(client);
        loaded = true;
    }
}
