@namespace Watchtower
@using Watchtower.Data
@using MongoDB.Driver

@if (loaded) {
    <tr>
        <td>
            <button class="btn">
                <i class="bi-caret-down-fill" />
            </button>
        </td>
        <td>@host.hostname</td>
        <td colspan=5>
            <span>@host.Resources.Count @(host.Resources.Count == 1 ? "resource" : "resources")</span>
            <span class=@StatusDotClass></span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>Side</td>
        <td>Status</td>
        <td>Forventa</td>
        <td>Svartid</td>
        <td>Forventa</td>
        <td>URL</td>
    </tr>
    @foreach (var resource in host.Resources)
    {
        <ResourceComponent resource=@resource />
    }
}

@code {
    [ParameterAttribute]
    public WatchtowerHost? host { get; set; }
    [ParameterAttribute]
    public IMongoClient? client { get; set; }
    public bool loaded { get; set; }

    private string StatusDotClass => "status-dot status-" + (host?.CurrentStatus.ToString() ?? "unknown");

    protected override async Task OnInitializedAsync()
    {
        host.FetchResources();
        foreach (var resource in host.Resources)
        {
            resource.FetchRequests();
        }
        loaded = true;
    }
}
