table.collapsed {
    height: 0px;
}

table {
    transition: all 0.5s;
}

thead {
    position: sticky;
    top: 0;
    background: white;
}

thead tr {
    border-bottom: 1px solid #666;
}

tbody {
    height: fit-content;
}

.status-dot {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.status-dot.status-2 {
    background: #FF7477;
}

.status-dot.status-1 {
    background: #FFEF5C;
}

.status-dot.status-0 {
    background: #739E82;
}

.status-dot.status--1, .status-dot.status-unknown {
    background: #9DA2AB;
}
